extends ./layout/layout.jade

block content
  
  table(cellpadding='0', cellspacing='0', width='100%', border='0')
    tr
      td(align='center', style='font-family:Arial, Helvetica, sans-serif; color: #049900; font-size: 14px; padding-top: 14px;')
        span(contenteditable='true', style='display:block;') ToolTwist - #{name}
      //- td
    //- tr
    tr
      td(align='center', style='font-family:Arial, Helvetica, sans-serif; color: #049900; font-size: 18px; padding-top: 12px;')
        span(contenteditable='true', style='display:block; padding: 0 20px;') Support Contacts
      //- td
    //- tr
    tr
      td(align='center', valign='middle', style='padding: 10px 0;')
        //- render logo
        if xlogo
          +logo(url)
          +logo(url2)
        else
          +logo(url)
        //- render logo
      //- td
    //- tr
    tr
      td(height='2')
        div(style='margin: 0 2px; background:#e2e2e2; height: 1px;')
        div(style='margin: 0 2px; background:#FFFFFF; height: 1px;')
      //- td
    //- tr
    tr
      td(style='padding: 15px 20px; color:#3e3d3d; font-family:Arial, Helvetica, sans-serif; font-size: 12px;')
        span(contenteditable='true', style='display:block;') Paste table from spreadsheet here...
      //- td
    //- tr
  //- table
