include .././options/options.pug

doctype html
html(lang="en")
  head
    title #{title}
  //-head
  body(style="margin: 0;")
    table(cellpadding='0', cellspacing='0', border='0', width='100%')
      tbody
        tr
          td(style='background-color: #F0F0F0; padding: 10px 50px;')
            center
              table(cellpadding='0', cellspacing='0', border='0', style='min-width: 500px; max-width: 1000px;')
                tbody
                  tr
                    td(colspan="3")
                      br
                      br
                    //-td
                  //-tr
                  tr
                    td(style='background-image: url(https://s3-ap-southeast-2.amazonaws.com/tooltwist.com/on_tt_logo.png); background-repeat:no-repeat; padding-bottom: '12px;', width='178', height='50', colspan="3")
                  //-tr
                  tr
                    td(height='12', style="background: url('https://tr-wiki.netlify.com/assets/images/on_rnd_top_left.png') bottom left no-repeat scroll; background-size: auto;", width="320")
                    td(height='12', style="background: url('https://tr-wiki.netlify.com/assets/images/on_rnd_top_center.png') bottom center repeat-x scroll; background-size: auto")
                    td(height='12', style="background: url('https://tr-wiki.netlify.com/assets/images/on_rnd_top_right.png') bottom right no-repeat scroll; background-size: auto;", width="320")
                  //-tr
                  tr
                    td(style="background: url('http://www.twistresources.com/outage_images/on_mid_bg.png') center center no-repeat scroll #fbfbfb; background-size: 100% 100%; border-left: 2px solid white; border-right: 2px solid white;", align='center', valign='top', colspan="3")
                      //-content
                      block content
                      //-content
                    //-td
                  //-tr
                  tr
                    td(height='29', style="background: url('https://tr-wiki.netlify.com/assets/images/on_rnd_bottom_left.png') top left no-repeat scroll; background-size: auto;", width="320")
                    td(height='29', style="background: url('https://tr-wiki.netlify.com/assets/images/on_rnd_bottom_center.png') center 0px repeat-x scroll; background-size: auto;")
                    td(height='29', style="background: url('https://tr-wiki.netlify.com/assets/images/on_rnd_bottom_right.png') top right no-repeat scroll; background-size: auto;", width="320")
                  //-tr
                  tr
                    td(colspan="3")
                      br
                      br
                    //-td
                  //-tr
                //-tbody
              //-table
            //-center
          //-td
        //-tr
      //-tbody
    //-table
  //-body
//-html
