//- Page title.
- var title = "Email Tempates"
//- Set Project Here
- var project = "flag" //- Do not move this to another line!!!
//-----------------------------
  Projects(also used as its folder name):
    af  - AFTRS
    bc  - British Council
    cl  - Corelogic
    dp  - Drinkpoint
    fe  - Forms Express
    fmc - FitMyCar
    gs  - Studylane/GSP
    hr  - Health RFID
    mhp - M Health Pharma
    ms  - Metrosix
    nu  - Nutra Organics
    pd  - Pundit
    pi  - PIQ
    rp  - RPData
    tq  - Tafe Queensland
    wc  - Whitecliffe
    hp  - Happi
    ge  - Governance Evaluator
    am  - Amgrow
    wmu - World Maritime University
    ins - INSTEP
    mb  - My Bonsai Diary
    cx - ConvX
    td - Tech Direct
    adv - Advisor-E
    adlf - ADL Forms
    adli - ADL Inspect
    lmdc - Love My Dog Club
    pwb - Persons Without Borders
//-----------------------------

if project == "af"
  - var name    = "AFTRS"
  - var url     = "https://myaftrs.aftrs.edu.au/cropImage/aftrs.images.aftrs_i_loginLogo.png"
  - var width   = "150"
  - var height  = "151"
if project == "bc"
  - var name    = "British Council"
  - var url     = "https://english-courses.britishcouncil.org/tw/portal/cropImage/skypepi.images.portal_i_logo.png"
  - var width   = "141"
  - var height  = "42"
  - var inverse = false
if project == "cl"
  - var name    = "MyRP"
  - var url     = "https://upload.wikimedia.org/wikipedia/en/4/4d/CoreLogic_logo.svg"
  - var width   = "165"
  - var height  = "100"
  - var inverse = false
if project == "dp"
  - var name    = "Drinkpoint"
  - var url     = "http://stage.drinkpoint.com.au/ttsvr/cropImage/drinkpoint.images.i_logo_dp_png.png"
  - var width   = "162"
  - var height  = "43"
  - var inverse = false
if project == "fe"
  - var name    = "Forms Express"
  - var url     = "https://stage.enotices.com.au/cropImage/fe.images.fe_logo_forms_express_enotices.png"
  - var width   = "300"
  - var height  = ""
  - var inverse = false
if project == "fmc"
  - var name    = "Fitmycar"
  - var url     = "http://www.fitmycar.com/journal/wp-content/uploads/2015/11/FitMyCar-150.png"
  - var width   = "150"
  - var height  = "36"
if project == "gs"
  - var name    = "Global Study Partners"
  - var xlogo   = true
  - var url     = "https://studylane.com.au/cropImage/studylane.images.studylane_i_logoBig.png"
  - var url2    = "https://d2hpwmayxrmlo8.cloudfront.net/public/studylane_logo.png"
  - var width   = ""
  - var height  = "100"
  - var inverse = true
  - var style   = { background: "#DCDCDC", padding: "10px" }
if project == "hr"
  - var name    = "Health RFID"
  - var url     = "http://dhm.controlpoint.healthrfid.com/images/health-rfid-logo-2.png"
  - var width   = "460"
  - var height  = "86"
if project == "mhp"
  - var name    = "M Health Pharma"
  - var url     = "https://s3-ap-southeast-2.amazonaws.com/mhealthpharma/logo/mHPbrandingtext-new.png"
  - var width   = "400"
  - var height  = "74"
  - var inverse = true
  - var style   = { background: "#ED1B35", padding: "10px 0" }
if project == "ms"
  - var name    = "Metrosix"
  - var url     = "https://s3-ap-southeast-2.amazonaws.com/cloudmall-webassets/outage/metrosix_logo.png"
  - var width   = "179"
  - var height  = "45"
  - var inverse = false
if project == "nu"
  - var name    = "Nutra Organics"
  - var url     = "https://s3-ap-southeast-2.amazonaws.com/cloudmall-webassets/outage/nutra_logo.png"
  - var width   = "179"
  - var height  = "45"
  - var inverse = false
if project == "pd"
  - var name    = "Pundit"
  - var url     = "http://www.punditconnect.com/cropImage/pundit.images.logo_pundit.png"
  - var width   = "235"
  - var height  = "69"
  - var inverse = false
if project == "pi"
  - var name    = "PIQ"
  - var url     = "https://dhffl75trpavh.cloudfront.net/piq_logo.png"
  - var width   = "97"
  - var height  = "48"
  - var inverse = false
if project == "rp"
  - var name    = "MyRP"
  - var url     = "https://cl-consumer.s3.amazonaws.com/dev/dev/freemium/images/logo-corelogic.png"
  - var width   = "138"
  - var height  = "65"
  - var inverse = false
if project == "tq"
  - var name    = "Tafe Queensland"
  - var url     = "http://tafeqld.edu.au/theme/images/logo.png"
  - var width   = "300"
  - var height  = "60"
  - var inverse = true
  - var style   = { background: "#e31b23", padding: "10px" }
if project == "wc"
  - var name    = "Whitecliffe"
  - var url     = "https://mywhitecliffe.com/skypepi/images/mywhitecliffe_logo.png"
  - var width   = "300"
  - var height  = "44"
  - var inverse = true
  - var style   = { background: "#000000", padding: "10px" }
if project == "hp"
  - var name    = "Happi"
  - var url     = "http://happi.sg/ttsvr/cropImage/happi.images.tmp_logo_1_png.png"
  - var width   = "144"
  - var height  = "145"
  - var inverse = false
if project == "ge"
  - var name    = "Governance Evaluator"
  - var url     = "http://www.governanceevaluator.com/wp-content/uploads/2014/09/logo_white.png"
  - var width   = "250"
  - var height  = "56"
  - var inverse = true
  - var style   = { background: "#000000", padding: "10px" }
if project == "am"
  - var name    = "Amgrow"
  - var url     = "http://amgrowcorporate.com.au/assets/img/logo.png"
  - var width   = "200"
  - var height  = "77"
  - var inverse = false
if project == "wmu"
  - var name    = "World Maritime University"
  - var url     = "https://tribal-delta-dev.s3.amazonaws.com/tribal-delta/demo/logo/logo-1500906000614.png"
  - var width   = "270"
  - var height  = "45"
  - var style   = { background: "#536c90", padding: "10px" }
  - var inverse = true
if project == "ins"
  - var name    = "INSTEP"
  - var url     = "https://tribal-delta-dev.s3.amazonaws.com/tribal-delta/dev/logo/logo-1487149966462.gif"
  - var width   = "200"
  - var height  = "96"
  - var inverse = false
if project == "mb"
  - var name    = "My Bonsai Diary"
  - var url     = "https://mybonsaidiary.com/assets/images/logo-6.png"
  - var width   = "300"
  - var height  = "106"
  - var style   = { background: "#0e0e0e", padding: "10px" }
  - var inverse = true
if project == "cx"
  - var name    = "ConvX"
  - var url     = "http://ttstatic.github.io/convx-v3/assets/images/logo-red.png"
  - var width   = "135"
  - var height  = "40"
  - var inverse = false
if project == "td"
  - var name    = "TechDirect"
  - var url     = "https://www.tech-direct.com/static/img/logo.6b7bef3.png"
  - var width   = "250"
  - var height  = "35"
  - var inverse = false
if project == "piq"
  - var name    = "PropertyIQ"
  - var url     = "http://103.37.8.129/~propert4/wp-content/uploads/PIQ-Logo.png"
  - var width   = "240"
  - var height  = "47"
  - var style   = { background: "#41bb72", padding: "10px" }
  - var inverse = true
if project == "adv"
  - var name    = "Advisor-E"
  - var url     = "https://s3-ap-southeast-2.amazonaws.com/nbt-trsydprod1-mbcprod-assets/logo.png"
  - var width   = "300"
  - var height  = "139"
  - var inverse = false
if project == "adlf"
  - var name    = "ADL Forms"
  - var url     = "https://digitalreign.io/wp-content/uploads/2019/02/ADL-Logo.png"
  - var width   = "205"
  - var height  = "115"
  - var inverse = false
if project == "adli"
  - var name    = "ADL Inspect"
  - var url     = "https://a.imge.to/2019/10/04/vEXPMk.png"
  - var width   = "205"
  - var height  = "115"
  - var inverse = false
if project == "lmdc"
  - var name    = "Love My Dog Club"
  - var url     = "http://dev.lovemydogclub.com.au/img/lmdc-logo.145bfce8.png"
  - var width   = "87"
  - var height  = "100"
  - var inverse = false
if project == "pwb"
  - var name    = "Persons Without Borders"
  - var url     = "https://personswithoutborders.com/assets/images/wpb_logo_light_02.png"
  - var width   = "214"
  - var height  = "103"
  - var inverse = false
if project == "rr"
  - var name    = "Rent Rabbit"
  - var url     = "https://dsinpea903658.cloudfront.net/logo/dark-logo.dcca6f28.png"
  - var width   = "300"
  - var height  = "124"
  - var inverse = false
if project == "ys"
  - var name    = "Yarstick"
  - var url     = "https://theyardstickagency.co.uk/wp-content/uploads/2018/11/yardstick-logo.png"
  - var width   = "100"
  - var height  = "100"
  - var inverse = false

- var attr = {"width": width, "height": height, "valign": "middle"};

//- mixins
mixin logo(src)
  if inverse
    img(src=src, style="background-color: "+style.background+"; padding: "+style.padding)&attributes(attr)
  else
    img(src=src)&attributes(attr)
//- mixins
